@media (max-width: 600px) {
  .App {
    padding: 10px;
  }

  .App-logo {
    height: 50vmin;
  }

  .App-header {
    font-size: calc(8px + 2vmin);
    padding: 20px;
  }

  .btn {
    font-size: large;
    width: 90%;
    padding: 10px;
  }

  .txt {
    margin-bottom: 10px;
    box-sizing: border-box;
  }
}

.App {
  text-align: center;
  background-color: #76ABAE;
  height: 100vh;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;  
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.btn {
  background-color: #1d5a73;
  color: white;
  border-radius: 10px;
  font-size: x-large;
  width: fit-content;
  align-self: center;
  margin: 1rem;
}

.txt {
  width: 95%;
  height: 60%;
  align-self: center;
  margin: auto;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


